.errorMessage {
    color: #ff6060;
    display: flex;
    width: 90%;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    height: 110vh;
    margin: 100px auto;
}

.loader {
    padding: 10px;
    border: 6px solid #ff6060;
    border-bottom-color: transparent;
    border-radius: 22px;
    height: 0;
    width: 0;
    justify-content: center;
    -webkit-animation: rotate 1s infinite linear;
            animation: rotate 1s infinite linear;
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

