header {
  padding-top: 40px;
  align-items: center;
  padding-bottom: 4%;
  width: 86.11%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.header__img {
  width: 210.32px;
  height: 68px;
}

.header__list {
  display: flex;
  gap: 57px;
}

.header__item{
  font-family: "Montserrat", "Sans-serif";
  color: #FF6060;
  font-size: 24px;
  line-height: 142.6%;
  list-style: none;
}

header ul a li {
  transition: 0.3s;
}

header ul a li:hover {
  transition: 0.7s;
  color: #FF3047;
}

header ul .nav-active {
  position: relative;
}

header ul .nav-active::after {
  content: "";
  height: 2px;
  width: 0;
  background: #FF6060;
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: navigation 0.2s ease forwards;
  animation: navigation 0.5s ease forwards;
}

@-webkit-keyframes navigation {
  to {
    width: 100%;
  }
}

@keyframes navigation {
  to {
    width: 100%;
  }
}

@media (max-width: 600px) {

  header {
  width: 89.33%;
  padding-top: 20px;
  padding-bottom: 2%;
  }

  .header__img {
    width: 170px;
    height: 55px;
  }

  .header__list {
    gap: 20px;
  }

  .header__item {
    font-size: 16px;
    text-transform: uppercase;
  }
  
}

  @media (max-width: 450px) {

    .header__item {
      font-size: 14px;
  }
  
}

  @media (max-width: 411px) {

    .header__list {
      gap: 10px;
    }

  }

  @media (max-width: 400px) {
    
    .header__img {
      width: 120px;
      height: 40px;
    }

    .header__item {
      font-size: 12px;
    }
    
  }

  @media (max-width: 320px) {
    
    .header__img {
      width: 80px;
      height: 25px;
    }

    .header__item {
      font-size: 11px;
    }
    
  }