.contentContainer {
    width: 100%;
    height: auto;
    margin-top: 35px;
}

.contentInfo {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.countryTitle {
    width: 100%;
    -webkit-animation: show-right 2s ease-in-out;
            animation: show-right 2s ease-in-out;
}

.accomodationTitle {
    width: 100%;
    font-size: 36px;
    color: #ff6060;
    -webkit-animation: show-right 2s ease-in-out;
            animation: show-right 2s ease-in-out;
}

.city {
    width: 100%;
    color: #ff6060;
    font-weight: 500;
    -webkit-animation: show-right 2s ease-in-out;
            animation: show-right 2s ease-in-out;
}

.pageTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.tags {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    -webkit-animation: show-up 2s ease-in-out;
            animation: show-up 2s ease-in-out;
}

@-webkit-keyframes show-right {
    from {
      opacity: 0;
      transform: translateX(-3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }

@keyframes show-right {
    from {
      opacity: 0;
      transform: translateX(-3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }

  @-webkit-keyframes show-left {
    from {
      opacity: 0;
      transform: translateX(3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }

  @keyframes show-left {
    from {
      opacity: 0;
      transform: translateX(3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }

.tagLists {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.tagName {
    line-height: 25px;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #ff6060;
    margin-right: 20px;
    list-style: none;
    width: auto;
    height: 25px;
    padding: 0 10px;
    color: white;
}

.hostContainer {
    width: 30%;
    -webkit-animation: show-left 2s ease-in-out;
            animation: show-left 2s ease-in-out;
}

.hostInfo {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    -webkit-animation: show-left 2s ease-in-out;
            animation: show-left 2s ease-in-out;
}

.hostName {
    display: flex;
    width: 100%;
    text-align: right;
    color:#ff6060;
    font-size: 18px;
    margin-right: 20px;
    align-items: flex-end;
    flex-direction: column;
    -webkit-animation: show-left 2s ease-in-out;
            animation: show-left 2s ease-in-out;
}

.hostPicture {
    display: flex;
    width: 64px;
    border-radius: 50%;
    height: 64px;
    -webkit-animation: show-left 2s ease-in-out;
            animation: show-left 2s ease-in-out;
}


@media only screen and (max-width: 1005px)
{
    .contentInfo {
        flex-direction: column;
    }

    .hostContainer {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 15px;
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .accomodationTitle {
        font-size: 28px;
    }
}

@media only screen and (max-width: 640px) {
    .tags {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 615px) {
    .accomodationTitle {
        font-size: 22px;
    }

    .tagName {
        font-size: 12px;
        height: 15px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .hostName {
        font-size: 12px;
    }

    .hostPicture {
        height: 32px;
        width: 32px;
    }
}

@media only screen and (max-width: 490px) {
    .accomodationTitle {
        font-size: 26px;
    }

    .contentContainer {
        margin-top: 10px;
    }

    .tagName {
        font-size: 10px;
    }

    .hostPicture {
        width: 32px;
        height: 32px;
    }

    .tags {
        margin-top: 0;
        margin-bottom: 0;
    }

    .city {
        font-weight: 400;
        font-size: 15px;
    }

    .hostContainer {
        margin-top: 0;
    }

}


