.collapseAbout {
    display: flex;
    flex-direction: column;
}

.containerAbout {
    width: 90%;
    margin: 25px auto 0;
    height: auto;
}

@media only screen and (max-width: 660px) {
    .containerAbout {
      width: 90%;
    }
}

@media only screen and (min-width: 390px) and (max-width: 414px) {
    .containerAbout {
      margin: 57px auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
    .containerAbout {
      margin: 160px auto;
    }
}

@media only screen and (width: 912px) {
    .containerAbout {
      margin: 250px auto;
    }
}
  
  .arrowUp {
    width: 23px;
    height: 14px;
    background-color: #ff6060;
  }
  
  @media only screen and (max-width: 660px) {
    .arrowUp {
    width: 15px;
    height: 9px;
    }
  }
  
  .item {
    background-color: #ff6060;
    border-radius: 7px;
    margin-bottom: 25px;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 47px;
    line-height: 47px;
    color: #ffffff;
    background-color: #ff6060;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 660px) {
    .title {
      height: 30px;
    }
  }
  
  .title h2 {
    background-color: #ff6060;
    font-size: 24px;
    font-weight: 500;
  }
  
  @media only screen and (max-width: 660px) {
    .title h2 {
      height: 30px;
      line-height: 30px;
      font-size: 13px;
    }
  }
  
  .content {
    max-height: 0;
    margin: 0 auto;
    color: #ff6060;
    background-color: #f7f7f7;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  }
  
 .show.content {
    height: auto;
    max-height: 1000px;
    padding: 30px 20px;
  }
  
  @media only screen and (max-width: 660px) {
    .show.content {
      font-size: 12px;
    }
  }

